body,html{
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#app{
    height: 100%;
    .total-container{
        height: 100%;
        .header{
            height: 60px;
            background-color: skyblue;
        }
        .content{
            display: flex;
            height: calc(100% - 60px);
            .menu-container{
                width: 200px;
                height: 100%;
                overflow-y: auto;
                .menu{
                    overflow-x: hidden;
                    height: 100%;
                }
                // background-color: #f45;
            }
            .main{
                flex: 1;
                height: 100%;
                // background-color: #2992ff;
            }
        }
    }
}